[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "forcedimension"
version = "0.1.5"
authors = [ 
    { name="Ember Chow", email="emberchow.business@gmail.com" },
]
description = "Python Bindings for the ForceDimension SDK"
readme = "README.md"
requires-python = ">=3.8"
license = {file="LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
]

[project.optional-dependencies]
numpy = [
    "numpy>=1.20",
]
all = [
    "numpy>=1.20"
]

[project.urls]
"Homepage" = "https://github.com/EmDash00/forcedimension-python"

